.imgdetail{    
    width: 300px;    
    height: 302;
    margin-top: 10px;
}
.form{
    width: 250px;
}
.divBuscar{
    display: flex;
    flex-direction:column;
    align-content: center;
    width: 350px;
    margin-top: 5px;
}
.divDatos{
    width: 350px;
    margin-top: 40px; 
}
.divDatosU{
    margin-bottom: 5px;
}
.general{
    display: flex;
    flex-direction:row;
    width: 773px;
    height: 500px;
}
.divSolBus{
    margin-left: 30px;
}
.spanDatos{
    font-size: large;
    font-weight: bold;
}
.divSolimg{
    margin-left: 10px;
}