.firstR{
    display: flex;
    flex-direction:row;
    height: 217px;
    width: 223px;
    margin-bottom: 6px;
}
.secondR{
    display: flex;
    flex-direction:row;    
    height: 217px;
    width: 223px;
    margin-bottom: 6px
}
.tiSpan{
    color: black;
}
optgroup{
    display: flex;
    flex-direction: row;
    height:20px;
    width: 100px;
}
.thirdR{
    display: flex;
    flex-direction:row;    
    height: 217px;
    width: 223px;
}
.columna{
    height: 3500px;
    width: 712px;
}
.ipoke{
    height: 150px;
    width: 175px;
    background-color: rgb(228, 225, 225);
}