.firstR,.secondR,.thirdR{
    display: flex;
    flex-direction:row;
    height: 217px;
    width: 223px;
    margin-left: 100px;
    margin-bottom: 6px;
}
.tiSpan{
    color: black;
}
optgroup{
    display: flex;
    flex-direction: row;
    height:20px;
    width: 100px;
}

.columna{
    height: 3500px;
    width: 712px;
}
.ipoke{
    height: 150px;
    width: 175px;
    background-color: rgb(228, 225, 225);
}
.allPokeCard{
    padding: 10px;
    margin-top: 5px;
    margin-left: 2px;
}
.PokeCardName{
    font-weight: bold;
}
.PokeCardtype{
    display: flex;
}
.PokeCardtypeA{
    margin-right: 5px;
}
.boton{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 298px;
}
.divBT{
    margin-left: 387px;
}
.divPPN{
    margin-left: 350px;
    margin-top: 5px;
}