.tipoLista{
    width: 182px;
    height: 70px;
    margin-left: 4px;
}
.divlista{
    width: 65px;
    height: 20px;
}
.divtitle{
    width: 100px;
    height: 20px;
}
.inplista{
    display: flex;
    justify-content:space-around;
    font-size: small;
    width: 180px;
    height: 25px;
    border: 1px solid;
}